<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="trips content">
    <h2>All trips</h2>

    <% if (trips.length > 0) { %>
      <% trips.forEach(trip => { %>
        <h3 class="destination"><%= trip.destination %></h3>
        <p class="city"><%= trip.city %></p>
      <% }) %>
    <% } else { %>
      <p>There are no trips to display...</p>
    <% } %>
    
  </div>
  <%- include("./partials/footer.ejs") %>
</body>
</html>